.paper1 {
  width: 563px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(241, 241, 241, 0.977);
}

#inputTitle {
  border: none;
  border-bottom: 2px solid #1d9df6;
  border-radius: 0px;
}

#inputDatetime {
  border: 2px solid #1d9df6;
  border-radius: 4px;
}

.cardInfo {
  
  border: 1px solid #1d9df6;
  height: 400px;
  border-radius: 4px;
}

.inputsInfo {
  display: flex;
}

.inputsDescription {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 80px;
}

.descriptionTeacher {
  width: 170px;
  margin-left: 10px;
  resize: none;
  border-radius: 4px;
}

.descriptionStudent {
  width: 170px;
  margin-left: 10px;
  resize: none;
  border-radius: 4px;
}

.inputSignature {
  display: flex;
  margin-top: 50px;
}

#signTeacher {
  border: none;
  border-bottom: 2px solid #1d9df6;
  border-radius: 0px;
}

#signStudent {
  border: none;
  border-bottom: 2px solid #1d9df6;
  border-radius: 0px;
}

.cards {
  margin-bottom: 50px;
  /* display: flex; */
  gap: 35px;
  width: 400px;
  flex-wrap: wrap;
}

@media(max-width:1200px) {
  .paper1 {
    width: 800px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 242, 242, 0.977);
  }
  .cards {
    width: 440px;
  }
  .studentCard {
    margin-left: 130px;
  }
}

@media(max-width:780px) {
  .studentCard {
    width: 100%;
    margin-left: 90px;
  }
  .cards {
    width: 550px;

  }
  .history {
    margin-left: -90px;
  }
  .cardInfo {
    width: 100%;

  }
  .descriptionTeacher {
    width: 230px;
  }
  .inputsDescription {
    margin-top: 60px;
  }
  .descriptionStudent {
    width: 250px;
    margin-right: 10px;
  }
  #inputTitle {
    width: 220px;
  }
  #inputDatetime {
    width: 240px;
  }
  #signTeacher {
    width: 220px;
  }
  #signStudent {
    width: 240px;
  }
}

@media(max-width:320px) {
  .studentCard {
    width: 250%;
  }
}