@media(max-width:1950px){

    /* botn prueba */
    
    
    .swal-btn{
        position: relative;
        left: 128%;
    }
    
    
    
    .btn{
        background-color:rgb(70, 172, 240) ;
        color:aliceblue;
        border: none;
        width: 245px;
        height: 35px;
        margin: 20px;
        
    }
    
    .btn:link,
    .btn:visited {
       
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: absolute;
    }
    
    .btn:hover {
        
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    .btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .btn-white {
        background-color: #1D9DF6;
        /* background-color: #fff; */
        color: rgb(255, 255, 255);
    }
    
    .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    .btn-white::after {
        background-color: #fff;
    }
    
    .btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
    
    .btn-animated {
        animation: moveInBottom 5s ease-out;
        animation-fill-mode: backwards;
    }
    
    @keyframes moveInBottom {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
    
        
        h1{
            padding: 30%;

            font-size: 250%;
            color:black ;
            font-family: 'Pacifico', cursive;
        }
        
        .textoOver{
            margin-right: 100px;
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        .entry{
            padding-left: 5%;
            margin: 25px 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        input{
            background-color: #fff;
            color: rgb(0, 0, 0);
            text-decoration: black;
            margin: 10px;
            border-radius: 5px;
            width: 190px ;
            height:25px ;
            border-color: rgb(199, 199, 204);
        }
    
        .line1{
            width: 100px;
            margin-left: 10px;
        }
        
        .line3{
            width: 100px;
            margin-right: 10px;
        }
        
        .line{
        
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: -30px;
            width: 300px;
            
        }
        .cero{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        
        
        h3{
            font-size: 15px;
            color: rgb(189, 189, 218);
        }
        
        .copy{
            margin-top: 145px
        
        }
        .componente{
            height: 230px;
        }
        
        h4{
            color: rgb(180, 178, 178);
            display: flex;
        
            width: 0%;
        }
        .cero{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        
        
        
        button{
            border-radius: 5px;
        }
        
        body{
            margin: 0;
            font-family: sans-serif;
            color: rgb(141, 144, 146);
        } 
        
        .line2{
            display: flex;
            justify-content: center;
            width: 210px;
        }
        
        .passwoard{
            display: flex;
            justify-content: center;
            flex-direction:row;
        }
        
        .Copy2{
            margin-bottom: 60px;
            display: flex;
            justify-content: center;
        }
        .swal-title{
            color: #1D9DF6;
        }
        .swal-text{
            color: #000;
        }
    
        
        .user{
            display: flex;
            justify-content: center;
        
        }
        .padlock{
            margin: 15px 5px;
            
        
        }
        
        .username{
            margin: 15px 5px;
        
        }
        
        .candado{
            display: flex;
        }
        
        .contPadre{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-left: -30%;
        
        }
        
        
            .container{
            
                margin-left: 30%;
            }
            .textOversight{
                margin-left: 8%;
                
            }
        
            .logo{
                display: block;
                width: 0px;
                height: 950px;
                margin-top: -820px;
                image-rendering: auto;
                object-fit: cover;
                object-position: center;
    
            }
    
    
            .conteinerLogo{
                margin-right: 640%;
                width: 100%;
    
            }
        .paragrapg{
            color: #ff0000;
            width: 230%;
            font-size: 80%;
            text-align: center;   
        }
    }
    
    @media(max-width:1200px){
    
    
        /* botn prueba */
    
    
    .swal-btn{
        position: relative;
        left: 128%;
    }
    
    
    
    .btn{
        background-color:rgb(70, 172, 240) ;
        color:aliceblue;
        border: none;
        width: 245px;
        height: 35px;
        margin: 20px;
        
    }
    
    .btn:link,
    .btn:visited {
       
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: absolute;
    }
    
    .btn:hover {
        
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    .btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .btn-white {
        background-color: #1D9DF6;
        /* background-color: #fff; */
        color: rgb(255, 255, 255);
    }
    
    .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    .btn-white::after {
        background-color: #fff;
    }
    
    .btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
    
    .btn-animated {
        animation: moveInBottom 5s ease-out;
        animation-fill-mode: backwards;
    }
    
    @keyframes moveInBottom {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
    
        h1{
            padding: 30%;

            color:black ;
            font-family: 'Pacifico', cursive;
        
        }
    
        .swa12-container{
            background-color: red;
        }
    
        .swa12-backdrop-show{
            background-color: red;
        }
    
        
        .textoOver{
            margin-right: 100px;
        }
        
        .textOversight{
            margin-left: -30%;
            
        }
        
    
        
    
        
        .entry{
            padding-left: 5%;
            margin: 25px 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        input{
            background-color: #fff;
            color: rgb(0, 0, 0);
            text-decoration: black;
            margin: 10px;
            border-radius: 5px;
            width: 190px ;
            height:25px ;
            border-color: rgb(199, 199, 204);
        }
        
        .button1{
            background-color:rgb(70, 172, 240) ;
            color:aliceblue;
            border: none;
            width: 245px;
            height: 35px;
            margin: 20px;
            
        }
        .line1{
            width: 100px;
            margin-left: 10px;
        }
        
        .line3{
            width: 100px;
            margin-right: 10px;
        }
        
        .line{
        
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: -30px;
            width: 300px;
            
        }
        .cero{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        
        
        h3{
            font-size: 15px;
            color: rgb(189, 189, 218);
        }
        
        .copy{
            margin-top: 145px
        
        }
        .componente{
            height: 230px;
        }
        
        h4{
            color: rgb(180, 178, 178);
            display: flex;
        
            width: 0%;
        }
    
        
        
        
        button{
            border-radius: 5px;
        }
        
        body{
            margin: 0;
            font-family: sans-serif;
            color: rgb(141, 144, 146);
        } 
        
        .line2{
            display: flex;
            justify-content: center;
            width: 210px;
        }
        
        .passwoard{
            display: flex;
            justify-content: center;
            flex-direction:row;
        }
        
        .Copy2{
            margin-bottom: 60px;
            display: flex;
            justify-content: center;
        }
        .swal-title{
            color: #1D9DF6;
        }
        .swal-text{
            color: #000;
        }
        .swal-button1{
            background-color: #1D9DF6;
            position: relative;
            left: 128%;
        }
        
        .user{
            display: flex;
            justify-content: center;
        
        }
        .padlock{
            margin: 15px 5px;
            
        
        }
        
        .username{
            margin: 15px 5px;
        
        }
        
        .candado{
            display: flex;
        }
        
        .contPadre{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-left: -30%;
        
        }
        
        
    
            .textoOver{
                margin-left: 50%;
                
            }
        
            .logo{
                display: block;
                width: 600px;
                height: 850px;
                margin-top: -850px;
                image-rendering: auto;
                object-fit: cover;
                object-position: center;
    
            }
    
    
            .conteinerLogo{
                margin-right: 00%;
                width: 1%;
                position: absolute;
                
    
            }
        .paragrapg{
            color: #ff0000;
            width: 230%;
            font-size: 80%;
            text-align: center;   
        }
    }
    
    @media(max-width:1200px){
        /* botn prueba */
    
    
    .swal-btn{
        position: relative;
        left: 128%;
    }
    
    
    
    .btn{
        background-color:rgb(70, 172, 240) ;
        color:aliceblue;
        border: none;
        width: 245px;
        height: 35px;
        margin: 20px;
        
    }
    
    .btn:link,
    .btn:visited {
       
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: absolute;
    }
    
    .btn:hover {
        
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    .btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .btn-white {
        background-color: #1D9DF6;
        color: rgb(255, 255, 255);
    }
    
    .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    .btn-white::after {
        background-color: #fff;
    }
    
    .btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
    
    .btn-animated {
        animation: moveInBottom 5s ease-out;
        animation-fill-mode: backwards;
    }
    
    @keyframes moveInBottom {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
    
        h1{
            padding: 30%;
            color:black ;
            font-family: 'Pacifico', cursive;
        
        }
        
        .textoOver{
            margin-right: 100px;
        }
        
        .textOversight{
            margin-left: -30%;
            
        }
        
    
        
    
        
        .entry{
            padding-left: 5%;
            margin: 25px 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        input{
            background-color: #fff;
            color: rgb(0, 0, 0);
            text-decoration: black;
            margin: 10px;
            border-radius: 5px;
            width: 190px ;
            height:25px ;
            border-color: rgb(199, 199, 204);
        }
        
        .button1{
            background-color:rgb(70, 172, 240) ;
            color:aliceblue;
            border: none;
            width: 245px;
            height: 35px;
            margin: 20px;
            
        }
        .line1{
            width: 100px;
            margin-left: 10px;
        }
        
        .line3{
            width: 100px;
            margin-right: 10px;
        }
        
        .line{
        
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: -30px;
            width: 300px;
            
        }
        .cero{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        
        
        h3{
            font-size: 15px;
            color: rgb(189, 189, 218);
        }
        
        .copy{
            margin-top: 145px
        
        }
        .componente{
            height: 230px;
        }
        
        h4{
            color: rgb(180, 178, 178);
            display: flex;
        
            width: 0%;
        }
        .container{
            margin-left: 600px;
        }
    }
    
    
    @media(max-width:1050px){
        /* botn prueba */
    
    
    .swal-btn{
        position: relative;
        left: 128%;
    }
    
    
    
    .btn{
        background-color:rgb(70, 172, 240) ;
        color:aliceblue;
        border: none;
        width: 245px;
        height: 35px;
        margin: 20px;
        
    }
    
    .btn:link,
    .btn:visited {
       
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: absolute;
    }
    
    .btn:hover {
        
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    .btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .btn-white {
        background-color: #1D9DF6;
        /* background-color: #fff; */
        color: rgb(255, 255, 255);
    }
    
    .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    .btn-white::after {
        background-color: #fff;
    }
    
    .btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
    
    .btn-animated {
        animation: moveInBottom 5s ease-out;
        animation-fill-mode: backwards;
    }
    
    @keyframes moveInBottom {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
        .logo{
            display: none;
        }
        body{
            margin-right: 30%;
        }
        .container{
            margin-left: 50%;
        }
    
        .passwoard{
            width: 200px;
        }
    
    
    
    }
    
    
    
    
        
    
    
    
    
    