

.photoView{
    width: 5%;
    position: relative;
    left: -35%;
    top: 20px;
    display: none;
    background-color: red;
}


.information{
    position: relative;
    left: 20%;
    top: -66px;
}



.iconRecord{
    position: relative;
    top: -68px;
    display: flex;
    justify-content: center;
}


.iconRecord p{
    position: relative;
    top: -13px;
}



/* .title{
    width: 0%;
    height: 0%;
    padding: 20%;
    margin: -100px -120px;
    color: black;
} */

/* .clotTitle{
    width: 0%;
}
 */


.studet{
    width: 250px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    margin-top: -300px;
    margin-left: 550px;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #1D9DF6;
}


.contStudent{
    margin-top: 30px;
    background-color: blue;
    height: 0%;
    width: 00%;
}

.ContDescripstudent{
    width: 0;
    height: 0;
    margin-left: 1100px;
    margin-top:50px;

}

.contTeacher{
    margin-top: 300px;
    width: 0;
    height: 0;
}


.ContDeTeacher{
    
    width: 0;
    height: 0;
    margin-top: 100px;
    margin-left: 424px;
    background-color: red;
}

.teacher{
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    width: 250px;
    margin-top: -100px;
    margin-left: 220px;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #1D9DF6;

}
.title{
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #1D9DF6;

}
textarea {
    width: 250px;
    border: 2px solid #1D9DF6;

}
