.photoView {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-left: -120px;
    margin-top: -40px;
    background-color: red;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: 140px;
    margin-top: -100px;
}

.cards {
    width: 400px;
    margin-left: 30px;
    width: 50px;
}

.iconRecord {
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconRecord p {
    position: relative;
    top: -2px;
}

button.cancel {
    margin-top: 50px;
}

.studet {
    background-color: rgba(255, 255, 255, 0);
    margin-top: -300px;
    margin-left: 550px;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #1D9DF6;
}

.contStudent {
    margin-top: 30px;
    background-color: blue;
    height: 0%;
    width: 00%;
}

.ContDescripstudent {
    width: 0;
    height: 0;
    margin-left: 1100px;
    margin-top: 50px;
}

.contTeacher {
    margin-top: 300px;
    width: 0;
    height: 0;
}

.ContDeTeacher {
    width: 0;
    height: 0;
    margin-top: 100px;
    margin-left: 424px;
    background-color: red;
}

.teacher {
    background-color: rgba(255, 255, 255, 0);
    margin-top: -100px;
    margin-left: 220px;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #1D9DF6;
}

.title {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #1D9DF6;
}

textarea {
    width: 250px;
    border: 2px solid #1D9DF6;
}