/* .photoView1 {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-left: -70px;
    margin-top: -30px;
}

.information1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: 200px;
    margin-top: -100px;
}

.iconRecord1 {
    position: relative;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cont {
    background-color: rgb(255, 255, 255);
    border: 1px solid #1D9DF6;
    width: 570px;
    height: 410px;
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    border-radius: 5px;
}

.ContDescripstudent1 {
    margin-left: 60px;
    margin-top: 100px;
}

.ContDeTeacher1 {
    height: 0;
    margin-top: 100px;
    margin-left: -490px;
    background-color: red;
}
------
.docent {
    width: 200px;
    border-radius: 6px;
}

.Stident2 {
    width: 200px;
    border-radius: 6px;
}

.FirmaDocent {
    width: 0px;
    height: 0;
    margin-left: -710px;
    margin-top: 370px;
}

.FirmaStudent {
    width: 100px;
    height: 0;
    margin-top: 370px;
    margin-right: 400px;
}

.title1 {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(240, 248, 255, 0);
    border-bottom: 2px solid #1D9DF6;
}
-----
.Data1 {
    border: 2px solid #1D9DF6;
    margin-left: 80px;
    width: 220px;
} */

.photoView1 {
    width: 91px;
    height: 80px;
    position: relative;
    top: 27px;
    left: 5%;
}

.information1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -62px;
    left: 39px;
}

.iconRecord1 {
    position: relative;
    top: -28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cont {
    border: 1px solid #1D9DF6;
    width: 83vw;
    height: 65vw;
    margin-left: 8px;
    /* display: flex; */
    border-radius: 5px;
}

.ContDeTeacher1 {
    margin-top: 15px;
    margin-left: 5px;
}

.ContDescripstudent1 {
    margin-left: 174px;
    margin-top: -157px;
}

.ContDescripstudent1 textarea {
    width: 156px;
    height: 30vw;
    border: 2px solid #1D9DF6;
}

.docent {
    width: 156px;
    height: 30vw;
    border: 2px solid #1D9DF6;
}

.Stident2 {
    width: 156px;
    height: 30vw;
    border: 2px solid #1D9DF6;
}

.FirmaDocent {
    margin-left: -210px;
    margin-top: 10px;
}

.FirmaStudent {
    margin-left: -365px;
    margin-top: -23px;
}

.btnRegister{
    color: rgb(255, 255, 255);
    background-color: #1D9DF6;
    border: none;
    width: 109px;
    height: 35px;
    position: relative;
    top: 11px;
    left: 8.5rem;
}

@media (min-width: 720px) {
    .Cont {
        height: 65vw;
        display: flex;
    }
    .title1 {
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: rgba(240, 248, 255, 0);
        border-bottom: 2px solid #1D9DF6;
    }
    .Data1 {
        border: 2px solid #1D9DF6;
        margin-left: 197px;
        width: 220px;
    }
        
    .ContDeTeacher1 {
        margin-top: 50px;
        margin-left: -572px;
    }

    .ContDescripstudent1 {
        margin-left: 87px;
        margin-top: 50px;
    }

    .ContDescripstudent1 textarea {
        width: 239px;
    }
    .Stident2 {
        width: 239px;
    }
    
        
    .FirmaDocent {
        margin-left: -780px;
        margin-top: 300px;
    }

    .FirmaStudent {
        margin-top: 300px;
    }

    .btnRegister{
        width: 122px;
        height: 39px;
        top: 26px;
        left: 15.5rem;
    }

}

@media (min-width: 720px) {

    .Cont {
        height: 43vw;
        display: flex;
    }
}