/* @media (max-width:460px){ */
    .search{
        height: 100px;
        padding-left: -40%;
       margin:-520px 340px; 

        width: 60%;

        
    }
    .search input{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        font-size: 80%;

    }


    .ConterInput{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: blue;
    }



    .iconsearch{
        margin-right: 120px;
        width: -40px;
    }

    .iconsearchCont{
        margin: -5% 88%;
    }

    .conterIcon{

        height: 0;
        width: 30px;
        margin:-15px  550px;
    }
    .mainCard {
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 26px;
        place-content: center;
        display: flex;
    
    }

    @media only screen 
and (max-width : 780px) 
 {
  .iconsearch{
            margin: -1px -36px ;
            position: relative;
        }

        .search input{
            width: 90%;
            font-size: 80%;
            margin-left: -50px;
 
        }
        .iconsearchCont{
            margin: -10% 82%;
        }

        .search{
            height: 50px;
            padding-left: -10%;
            width: 55%;
            margin: -520px 350px;
            
        }

        .ConterInput{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: blue;
        }
        .mainCard {
            display: grid;
            grid-template-columns: repeat(auto-fill, 240px);
            gap: 6px;
            place-content: center;
            margin: 20px 50px;
    
        }

    }

    @media only screen 
and (max-width : 320px) 
 {
    .iconsearch{
        margin: -1px -30px ;

        position: relative;
    }

    .search input{
        width: 100%;
        font-size: 80%;
        margin-left: -50px;

    }
    .iconsearchCont{
        margin: -21% 82%;
    }

    .search{
        height: 50px;
        padding-left: -10%;
        width: 55%;
        margin: -320px 200px;

        
        
    }
    .mainCard {
        display: grid;
        grid-template-columns: repeat(auto-fill, 240px);
        gap: 6px;
        place-content: center;
        margin: 20px 50px;

    }

}




/* } */



