.nameGroup {
  margin-top: 11%;
  font-size: 32px;
  font-family: "Pacifico", cursive;
  position: relative;
  right: -20%;
  width: 58%;
}

.iconGroup {
  color: #1d9df6;
  position: relative;
  top: -75px;
  left: 66%;
  width: 8%;
  height: 0%;
}

.line5 {
  border: 1px solid #1d9df6;
  width: 90%;
}

.mainGroup {
  position: relative;
  top: -66px;
}

.photoGroup button {
  color: #fff;
  background-color: #1d9df6;
  border: none;
  width: 92%;
  height: 30px;

}

.desple {
  border-radius: 5px;
  border: 1px solid #1d9df6;
  width: 94%;
  height: 28px;
  color: #949292;
}

.userNameGroup {
  border-radius: 5px;
  border: 1px solid #1d9df6;
  width: 100%;
  color: #949292;
}

.containerGroup {
  margin-left: 4%;
  width: 90%;
}

.photoGroup {
  width: 97%;
  padding-left: 4%;
}

.selectDirector {
  width: 93%;
  padding-left: 5%;
}