/* container */
.mainRegister {
  position: relative;
  top: -66px;
}

/* text register */
.Register {
  margin-top: 12%;
  font-size: 40px;
  font-weight: 40;
  color: black;
  font-family: "Pacifico", cursive;
  position: relative;
  right: -23%;
}

/*icon register */
.iconregster {
  color: #1d9df6;
  position: relative;
  top: -90px;
  left: 63%;
  width: 7%;
  height: 0%;
}

.lineRegister {
  border: 1px solid #1d9df6;
  width: 90%;
}

.userNameRegistre {
  border-radius: 5px;
  border: 1px solid #1d9df6;
  width: 43%;
}

.lastName {
  border-radius: 5px;
  border: 1px solid #1d9df6;
  width: 44%;
}

.last {
  margin-left: 4%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

/* identity card */
.number1 {
  padding-left: 19px;
}

.number {
  border-radius: 5px;
  border: 1px solid #1d9df6;
  width: 400px;
}

.containerData {
  padding-left: 19px;
}

.date {
  border-radius: 5px;
  border: 1px solid #1d9df6;
  width: 405px;
  height: 28px;
  color: #949292;
}

/* container from select gender, role, group */
.containerSelect {
  padding-left: 25px;
  width: 93.5%;
}

.desple {
  border-radius: 5px;
  border: 1px solid #1d9df6;
  width: 405px;
  height: 28px;
  color: #949292;
  margin: 5px;
}

.message {
  color: #fa1200;
  font-size: 0.7rem;
  padding-left: 8px;
}

/* button register a new user */
.Registrar {
  color: rgb(255, 255, 255);
  background-color: #1d9df6;
  border: none;
  width: 105px;
  height: 35px;
  position: relative;
  top: -1rem;
  left: 20rem;
}

.btn_Registrar {
  width: 10px;
  height: 20px;
}