.Register {
  margin-top: 14%;
  font-size: 39px;
  font-weight: 40;
  color: black;
  font-family: "Pacifico", cursive;
  position: relative;
  right: 12%;
}

.line5 {
  border: 1px solid #1d9df6;
}

.userNameRegistre {
  border-radius: 5px;
  border: 1px solid #1d9df6;
  width: 94px;
  color: #949292;
}

.lastName {
  border-radius: 5px;
  border: 1px solid #1d9df6;
  width: 94px;
}

.last {
  display: flex;
  justify-content: space-between;
}

.number {
  border-radius: 5px;
  border: 1px solid #1d9df6;
  width: 240px;
}

.number1 {
  display: flex;
  justify-content: center;
}
.cancel {
  border-radius: 5px;
  border: none;
  background-color: #fa1200;
}

.Registrar {
  color: rgb(255, 255, 255);
  background-color: #1d9df6;
  border: none;
  width: 105px;
  height: 35px;
  position: relative;
  top: 250%;
  left: 1550%;
}

.btn_Registrar {
  width: 10px;
  height: 20px;
}

.desple {
  border-radius: 5px;
  border: 1px solid #1d9df6;
  width: 93%;
  height: 28px;
  color: #949292;
}
.iconregster{
  color: #1d9df6;
  position: relative;
  top: -81px;
  left: 32%;
  width: 9%;
  height: 0%;
}
.mainRegister{
  position: relative;
  top: -66px;
}