.imgperfile{
    float: right;
    width: 100%;

}
.ContAdm{
    margin: 30% -540%;
        width: 60px;
        height: 50px;
        overflow: hidden;
        border-radius: 87%;
        background-color: brown;
}
.oversight-text{
    font-size: 27px;
    position: relative;
    top: 23%;
    left: 1500%;
}
.headercenter{
    display: flex;
    justify-content: space-between;
}
.center{
   display: flex;
}

/* 
    .headercenter{
        margin: -28px ;
        height: 0%;
    }

    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ContAdm{
        margin: 11px 95%;
            width: 60px;
            height: 50px;
            overflow: hidden;
            border-radius: 87%;
            background-color: brown;
    }
    .imgperfile{
        float: right;
        
        width: 100%;
    }
    .ContAdm{
        width: 60px;
        height: 50px;
        overflow: hidden;
        border-radius: 87%;
        background-color: brown;
        position: relative;
        top: 10%;
        left: 10%;
        
    }
    .imgperfile{
        float: right;
        
        width: 100%;
    }





    .oversight-text{
        font-size: 25px;
        margin-left: -69rem;
        margin-top: 35%;
        
        
        
    }

    @media(max-width:780px){
        .headercenter{
            margin-right: -50px;

        }

        .oversight-text{
            font-size: 20px;
            margin-left: -600px;
            margin-top: -110px;
            
            
            
        }

        .hrtop{
            padding-left: -30.5%;
            top: -20px;
            height: 0px;
            width: 80%;
            margin-left: 180px;
            margin-bottom:-30px ;
            margin-top: 40px;
    
        }
        .hrtop hr{
            width: 100%;
    
            background-color:#1d9df6;
        }

        .ContAdm{
            margin: 11px 95%;
            width: 60px;
            height: 50px;
            overflow: hidden;
            border-radius: 87%;
            background-color: brown;
            
        }
        .imgperfile{
            float: right;
            
            width: 100%;
        }


    }

    @media(max-width:340px){

        .oversight-text{
            font-size: 20px;
            margin-left: -565px;
            margin-top: -110px;
            
            
            
        }




    } */