.textStudent{

}
.headerStudent{
  display: grid;
  grid-template-columns: repeat(6, 300px);
}
.imgStudent{
  height: 120px;
  width: 150px;
  border-radius: 100%;
  margin-top: 40px;
}
.contTitleStudent{
  grid-column: 2;
}
.inputPrueba{
  width: 100%;
}

.contPrueba{
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 5;
}
.imagenprueba{
  height: 100%;
  width: 100%;
}

.contImageStudent{
  grid-column: 6;
}

@media(max-width:1200px){
  .headerStudent{
    display: grid;
    grid-template-columns: repeat(4, 300px);
  }
  .contTitleStudent{
    grid-column: 1;
  }
  .contImageStudent{
    grid-column: 4;
  }
  .imgStudent{
    height: 80px;
    width: 90px;
    margin-top: 10px;
  }
}

@media(max-width:780px){
  .headerStudent{
    display: grid;
    grid-template-columns: repeat(3, 300px);
  }
  .textStudent{
    margin-left: -300px;
  }
  .imgStudent{
    margin-top: 90px;
  }
  .contTitleStudent{
    grid-column: 1;
  }
  .contImageStudent{
    grid-column: 3;
  }

}
@media(max-width:320px){
  .headerStudent{
  }
  .contTitleStudent{
    grid-column: 1;
  }
  .contImageStudent{
    grid-column: 3;
  }
  .contTitleStudent{

  }
}