.iconmenu{
    height: 30px;
    width: 100%;
    color: #1d9df6 ;
}

.menu{
    width: 20%;
    height: 50%;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.menu .group {
    padding-left: 10%;
    text-align: center;
}
p{
    color: rgb(1, 1, 1);
    font-size: 100%;
}
.sweet-warning{
    background-color: #f61d1d;
    font-weight: 40;
}

.swal-footer{
    width: 10px;
    margin-right: 35%;
    background-color: rgb(255, 255, 255);
}
.paper{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 470px;
	background-color: #fff ;
	box-shadow: 5px ;
	padding: 2px 4px 3px ;
}
.cancel {
    color: rgb(255, 255, 255);
    background-color: #f61d1d;
    border: none;
    width: 105px;
    height: 35px;
    position: relative;
    top: -2.3rem;
    left: 12rem;
}
.btn_Cancel {
    width: 10px;
    height: 20px;
}

@media(max-width:780px){

    .menu{
        width: 20%;
        margin-left: 50px;
    }





}